.app {
  padding: 20px;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.4s, color 0.4s;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: 20px;
}
